body{
    background-color: lightsteelblue;
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: larger;
        text-align: center;
    }
    form{
        color: white;
    }
}